.store-list-item{
  margin-right: 100px;
  margin-top: -175px;
  border: 1px solid lightgrey;
  padding: 50px 50px 50px 50px;
  &-img{
    width: 150px;
    height: 150px;
  }
  &-text{
    text-align: center;
    margin-left: 5px;
  }
}