.store-list-button{
  width: 100px;
  height: 35px;
  outline: none;
  background-color: lightblue;
  margin-left: 25px;
  color: grey;
}
.cart-btn {
  width: 125px;
  height: 50px;
  margin-left: 845px;
  margin-top: 100px;
}
.cart-clear {
  width: 125px;
  height: 50px;
}
.modal-close{
  width: 75px;
  height: 35px;
  margin-left: 500px;
  margin-top: 7px;
  margin-bottom: 20px;
}
.modal-item-number-input{
  width: 300px;
  height: 19px;
  margin-top: 15px;
}
.modal-item-red-btn{
  width: 30px;
  background: red;
  border: 2px solid red;
  outline: none;
  color: white;
  border-radius: 5px;
  height: 25px;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 10px;
}
.modal-minus{
  width: 30px;
  height: 25px;
  margin-top: 15px;
}
.modal-plus{
  width: 30px;
  height: 25px;
  margin-top: 15px;
}