.modal-item{
  display: flex;
  flex-direction: row;
  &-li{
    list-style: none;
  }
  &-list{
    display: flex;
    flex-direction: row;
  }
  &-text{
    list-style: none;
    margin-top: 15px;
    margin-right: 10px;
  }
}
.show-item{
  display: none;
}
.show-item.true{
  display: block;
}