.modal{
  position: absolute;
  background: white;
  left: 675px;
  top: 250px;
  display: none;
  width: 600px;
  border: 1px solid black;
  &-header{
    margin-left: 15px;
  }
  &-cross{
    position: absolute;
    left: 560px;
    top: 18px;
  }
  &-text{
    margin-left: 15px;
  }
}
.modal.active{
  display: block;
}